@import "../../scss/vars";
:host {
  display: inline-block;
  padding: 5px 0;
  margin-top: -5px;
}

label {
  position: relative;
  padding-left: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.label {
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid $form_text_gray;
  display: block;
  border-radius: 50%;
  color: $form_text_gray;
}
.inner_label {
  width: 9px;
  height: 9px;
  background: #ccc1bc;
  display: block;
  margin: 3px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .15s ease;
}
input {
  visibility: hidden;
  position: absolute;
  &:checked + .label {
    .inner_label {
      opacity: 1;
    }
  }
}