<div class="row top">
    <div class="container">
        <a href="#" class="logo">
            <img src="./assets/img/logo_index.png" alt="" />
        </a>
        <div class="text_container">
            <a href="#">Help</a>
            <a href="#">Download App</a>
            <a [routerLink]="['/reg']">Sign up</a>
            <a href="#">Log In</a>
        </div>
    </div>
</div><!-- / row top -->

<div class="row jumbotron">
    <h1>education today for tomorrow</h1>
    <a href="#" class="button_normal">view courses now</a>
</div><!-- ./jumbotron -->

<div class="row small_banner">
    <p>Delivering on-demand video courses for business, creatives and tech.</p>
</div><!-- / small banner -->

<div class="row description">
    <div class="container">
        <div class="col-md-7 goal">
            <p class="heading">We have one goal – to make education easy</p>
            <p class="normal">We work directly with global enterprise and professional institutions to deliver education that’s specifically relevant to the skills, minds and qualities they’re looking for in their organisation and industry.</p>
            <a href="#" class="button_normal">Read more</a>
        </div><!-- / goal -->

        <div class="col-md-5 links">
            <a href="#">
                <img src="./assets/img/index_courses.png" alt="" />
                <span>Online Courses</span>
                Share playlists with friends and colleagues
            </a>

            <a href="#">
                <img src="./assets/img/index_account.png" alt="" />
                <span>Community</span>
                Delorim ipsun tran quil non sequen del vidi .
            </a>

            <a href="#">
                <img src="./assets/img/mic_index.png" alt="" />
                <span>Interviews</span>
                Delorim ipsun tran quil non sequen del vidi .
            </a>

            <a href="#">
                <img src="./assets/img/text_index.png" alt="" />
                <span>Documentation</span>
                Delorim ipsun tran quil non sequen del vidi .
            </a>
        </div><!-- / links -->
    </div>
</div><!-- / row description -->

<div class="row features">
    <div class="container">
        <div class="col-md-7 text_container">
            <div class="main_feature">
                <p class="heading">The main feature benefits to you...</p>
                <p class="normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p class="normal">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            </div>
        </div><!-- / text container -->
        <div class="col-md-5 banners_container">
            <div class="banner big">
                <div class="banner_description">
                    <p class="small_heading">This is a heaading area</p>
                    <p class="heading">edease offering online courses for barristers</p>
                    <p class="normal">edease have announced a new Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento.</p>
                </div>
            </div><!-- / banner big -->
        </div><!-- / banners container -->
    </div>
</div><!-- / features -->